---
import Layout from '../layouts/Layout.astro';
const title = "Психолог Мария Федотова";
const description = "IFS терапевт Мария Федотова. Психологические консультации онлайн.";
---

<Layout title={title} description={description}>
  <h1># Привет! Меня зовут Мария Федотова</h1>
</Layout>