---
import { Image } from "astro:assets";
const { href, text, icon } = Astro.props;

---
<a href={href} class="flex flex-row w-fit items-center gap-2">
  <Image src={icon} alt={text} width="64" />
  {text}
</a>

