---
// src/components/Hero.astro
import { getImage, Image } from "astro:assets";
import NavLink from "./NavLink.astro";
import hero from "../assets/hero.png";
const optimizedImage = await getImage({
  src: hero,
  format: "webp",
});
---
<Fragment slot="head">
  <link rel="preload" href={optimizedImage.src} as="image" />
</Fragment>
<section
  class="grid grid-cols-1 lg:grid-cols-[1fr_2fr_1fr] w-full gap-12 font-medium text-xl"
>
  <!-- Left Column: Main Content -->
  <div class="lg:col-start-1 lg:col-end-2 flex flex-col gap-6">
    <p class="text-xl">
      Я психолог,<br />
      IFS терапевт
    </p>

    <p class="text-lg text-pretty">
      Я помогу вам посмотреть на себя <span class="text-amber-600"
        >не осуждающим</span
      >, любознательным взглядом. Помогу увидеть большое пространство
      <span class="text-amber-600">возможностей</span> в вашей жизни – и осмелиться
      превратить возможности в <span class="text-amber-600">действия</span>
    </p>
  </div>

  <!-- Middle Column: Image -->
  <Image
    src={optimizedImage.options.src as string}
    width={optimizedImage.attributes.width as number}
    height={optimizedImage.attributes.height as number}
    alt="Мария Федотова"
    class="rounded-lg object-cover lg:col-start-2 lg:col-end-3"
  />
  <!-- Right Column: Navigation -->
  <nav
    class="lg:col-start-3 lg:col-end-4 flex flex-col gap-4 text-stone-700 font-medium m-12"
  >
    <NavLink href="#мой-опыт" text="Мой опыт" />
    <NavLink href="#формат-работы" text="Формат работы" />
    <NavLink href="#контакты" text="Контакты" />
    <a
      href="https://t.me/mariafemina"
      class="mt-12 text-xl font-medium lg:col-start-2 lg:col-end-3 bg-[#de6f38] opacity-100 hover:bg-amber-500 text-white p-3 py-2 shadow-md rounded-md m-auto block text-center no-underline"
    >
      Записаться
    </a>  
  </nav>
</section>
